.sidebar {
  position: fixed;
  top: 5rem;
  width: 300px;
  height: 100vh;
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  transition: transform $transitionDuration, left $transitionDuration;
  background-color: var(--surface-overlay);
  padding: 1.5rem;
  border: 1px solid var(--surface-d);
  border-top-right-radius: 6px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &-item {

    &-title {
      margin-top: 1em;
    }

    &-title &-name {
      text-transform: uppercase;
      color: var(--surface-900);
      font-weight: 600;
    }

    &-link {

      a {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--text-color);
        border-radius: 12px;
        padding: 0.75rem 1rem;
        transition: background-color .15s;

        span {
          margin-left: 0.5rem;
        }

        &:focus {
          @include focused-inset();
        }

        &:hover {
          background-color: var(--surface-hover);
        }

        &.router-link-exact-active {
          font-weight: 700;
          color: var(--primary-color);
        }
      }
    }
  }
}
